<div class="container">
  <br>
  <br>
  <br>
  <div class="card o-hidden border-0 shadow-lg my-5 begin-content">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 *ngIf="wizardState == 1" class="h4 text-gray-900 mb-4">Preencha o titulo e os detalhes da sua doação!
              </h1>
              <h1 *ngIf="wizardState == 2" class="h4 text-gray-900 mb-4">Preencha o endereço da sua doação!</h1>
            </div>
            <form class="user" [formGroup]="registerDonationForm" (ngSubmit)="registerDonation()">
              <div class="wirzard1" *ngIf="wizardState == 1">
                <div class="form-group row">
                  <div class="col-sm-12 mb-3 mb-sm-0">
                    <input matInput class="form-control form-control-user" placeholder="digite o titulo do anúncio"
                      formControlName="title">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 col-md-12">
                    <textarea matInput class="form-control form-control-user" placeholder="digite o detalhes do anúncio"
                      formControlName="description" rows="5" cols="80"></textarea>
                  </div>
                </div>
              </div>
              <div class="wirzard1" *ngIf="wizardState == 2">
                <div class="form-group row">
                  <div class="form-group col-sm-12 mb-12 mb-sm-12">
                    <input matInput type="text" class="form-control form-control-user " id="exampleInputEmail"
                      placeholder="Digite o cep de onde retirar a doação" formControlName="zipCode"
                      (change)="getAddressByZipCode()">

                    <div *ngIf="registerDonationForm.controls['zipCode'].invalid && (registerDonationForm.controls['zipCode'].dirty || registerDonationForm.controls['zipCode'].touched)"
                      class="text-danger text-center">
                      <div *ngIf="registerDonationForm.controls['zipCode'].errors">
                        O Cep deve ser preenchido :)
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 mb-3 mb-sm-0 form-group">
                    <input [readonly]="true" matInput type="text" class="form-control form-control-user"
                      id="exampleInputEmail" placeholder="Estado" formControlName="state">
                  </div>
                  <div class="col-sm-4 mb-3 mb-sm-0 form-group">
                    <input [readonly]="true" matInput type="text" class="form-control form-control-user"
                      id="exampleInputEmail" placeholder="Cidade" formControlName="city">
                  </div>
                  <div class="form-group col-sm-4 mb-3 mb-sm-0 ">
                    <input [readonly]="true" matInput type="text" class="form-control form-control-user"
                      id="exampleInputEmail" placeholder="Bairro" formControlName="district">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="form-group col-sm-6 mb-3 mb-sm-0 ">
                    <input [readonly]="true" matInput type="text" class="form-control form-control-user"
                      id="exampleInputEmail" placeholder="Rua" formControlName="address">
                  </div>
                  <div class="form-group col-sm-6 mb-3 mb-sm-0">
                    <input matInput type="text" class="form-control form-control-user" id="exampleInputEmail"
                      placeholder="número">
                  </div>
                </div>
              </div>
              <button *ngIf="wizardState == 1" class="btn btn-primary btn-user btn-block" (click)="next()">
                Próximo
              </button>
              <button *ngIf="wizardState == 2" class="btn btn-primary btn-user btn-block" type="submit">
                Cadastrar
              </button>
              <button *ngIf="wizardState == 2" class="btn btn-light btn-user btn-block" (click)="back()">
                Voltar
              </button>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" href="forgot-password.html">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" href="login.html">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
