

<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
        <div class="row">
          <div class="grid">
            <div class="column-xs-12">
              <p class="copyright">&copy; Copyright 2022 <a href="#" title="Katherine Kato" target="_blank">Igor Matheus de Souza</a></p>
            </div>
          </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

