<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <p class="copyright white">&copy; Copyright 2022 <a rel="nofollow" class="white" target="_blank" href="https://templatemo.com">Igor Matheus de Souza</a></p>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <ul class="social">
                    <li><a target="_blank" href="https://www.instagram.com/igor.m.souza/"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/igor-matheus-de-souza-42ab09146/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://www.uol.com.br/tilt/noticias/redacao/2019/04/10/por-que-o-facebook-esta-perdendo-usuarios.htm"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

