<div class="container container-donations py-3">

  <div class="begin-content">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div id="map">
          <iframe class="map-side"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3674.7960240611515!2d-43.2385990537693!3d-22.920893189202985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997f2f17b061db%3A0xf26e748949e13574!2zUG9udG86Pg!5e0!3m2!1spt-BR!2sbr!4v1624487398270!5m2!1spt-BR!2sbr"
            width="100%" height="627px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6 main-box" id="style-7">
        <!-- Card Start -->
        <div class="card card-donation" *ngFor="let item of mainDonations">
          <div class="row">

            <div class="col-md-5">
              <div id="CarouselTest" class="carousel slide box" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
                  <li data-target="#CarouselTest" data-slide-to="1"></li>
                  <li data-target="#CarouselTest" data-slide-to="2"></li>

                </ol>
                <div class="carousel-inner">
                  <div *ngFor="let image of item.images; index as i" class="carousel-item {{ i == 0 ? 'active' : ''}} ">
                    <img class="d-block img-donation" src="data:image/jpeg;base64,{{image.file}}" alt="">
                  </div>

                  <a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-7 px-3">
              <div class="card-block">
                <h5 class="card-title">{{item.title}}</h5>
                <h6 class="card-text">{{item.description}}</h6>
                <a href="#" class="small">{{item.city}} - {{item.state}}, {{item.district}} - {{ item.creationDate | date:'dd/MM/yyyy HH:mm' }}</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<br>
<br>
<div class="container py-3">
  <div class="card" *ngFor="let item of donations; let i = index;" [ngClass]="{'float-left': i % 2 === 0, 'float-right' : i % 2 === 1 }">
    <div class="row">
      <div class="col-sm-5">
        <img class="d-block w-100" src="https://picsum.photos/150?image=641" alt="">
      </div>
      <div class="col-sm-7">
        <div class="card-block">
          <p>Copy paste the HTML and CSS.</p>
          <p>Change around the content for awsomenes</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<br>
<br>
