<div class="container container-donations py-3">
  <div class="begin-content">
    <div class="col-md-8 main-box offset-md-2" id="style-7">
      <!-- Card Start -->
      <h2 class="blog-post-title">Aqui estão seus resgates de doaçãoes</h2>
      <p>Doações em andamento.</p>
      <div *ngFor="let item of donations">
        <div *ngIf="item.donationAcquisitions[0].status == 1" class="card card-donation border-bottom-primary">
          <div class="row" >
            <div class="col-md-4">
              <div id="CarouselTest" class="carousel slide box" data-ride="carousel">
                <div class="carousel-inner">
                  <div *ngFor="let image of item.images; index as i" class="carousel-item {{ i == 0 ? 'active' : ''}} ">
                    <img class="d-block img-donation" src="data:image/jpeg;base64,{{image.file}}" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 px-3">
              <div class="card-block">
                <a [routerLink]="['/donation',item.id]">
                  <h5 class="card-title">{{item.title}}</h5>
                  <h6 class="card-text">{{item.description}}</h6>
                  <div href="#" class="small"> {{item.district}},{{item.city}} - {{item.state}}</div>
                </a>
              </div>
            </div>
            <div class="col-md-4 px-3">
              <div class="card-block border-left-primary">
                <div>
                  <span class="mr-2  d-lg-inline text-gray-600 small">{{item.user.name}}</span>
                  <img class="img-profile rounded-circle" src="assets/imgs/undraw_profile.svg">
                </div>

                <a href="tel:{{item.user.phone}}" class="mr-2 d-lg-inline text-gray-600 small">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  {{item.user.phone ?? 'Não visivel'}}
                </a>
                <span class="mr-2 d-lg-inline text-gray-600 small">
                  <i class="fa fa-envelope" aria-hidden="true"></i> {{item.user.email ?? 'Não visivel'}}
                </span>
                <a href="tel:{{item.user.phone}}" class="btn btn-primary btn-icon-split btn-sm">
                  <span class="icon text-white-50">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </span>
                  <span class="text">Enviar mensagem</span>
                </a>
                <hr>
                <h5 class="card-text"><span class="btn btn-info btn-icon-split">Status: Ativo</span></h5>
                <h6 class="card-text">
                  Data aquisição: {{item.donationAcquisitions[0].creationDate | date:'dd/MM/yyyy HH:mm' }}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <p>Doações anteriores</p>
      <div *ngFor="let item of donations">
        <div class="card card-donation border-bottom-primary" *ngIf="item.donationAcquisitions[0].status > 1">
          <div class="row">
            <div class="col-md-4">
              <div id="CarouselTest" class="carousel slide box" data-ride="carousel">
                <div class="carousel-inner">
                  <div *ngFor="let image of item.images; index as i" class="carousel-item {{ i == 0 ? 'active' : ''}} ">
                    <img class="d-block img-donation" src="data:image/jpeg;base64,{{image.file}}" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 px-3">
              <div class="card-block">
                <a [routerLink]="['/donation',item.id]">
                  <h5 class="card-title">{{item.title}}</h5>
                  <h6 class="card-text">{{item.description}}</h6>
                  <div href="#" class="small"> {{item.district}},{{item.city}} - {{item.state}}</div>
                </a>
              </div>
            </div>
            <div class="col-md-4 px-3">
              <div class="card-block border-left-primary">
                <div>
                  <span class="mr-2  d-lg-inline text-gray-600 small">{{item.user.name}}</span>
                  <img class="img-profile rounded-circle" src="assets/imgs/undraw_profile.svg">
                </div>

                <a href="tel:{{item.user.phone}}" class="mr-2  d-lg-inline text-gray-600 small">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  {{item.user.phone ?? 'Não visivel'}}
                </a>
                <span class="mr-2  d-lg-inline text-gray-600 small">
                  <i class="fa fa-envelope" aria-hidden="true"></i> {{item.user.email ?? 'Não visivel'}}
                </span>

                <hr>
                <h5 class="card-text">
                  <span class="btn btn-success btn-icon-split">
                    Status: {{item.donationAcquisitions[0].status < 3 ? 'Finalizada' : 'Cancelada'}}
                  </span>
                </h5>
                    <h6 class="card-text">
                      Data aquisição: {{item.donationAcquisitions[0].creationDate | date:'dd/MM/yyyy HH:mm' }}
                    </h6>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
