<section class="section" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
              <img src="https://donationstorestorage.blob.core.windows.net/donation-store-blob/logo.png" class="rounded img-fluid d-block mx-auto" alt="App">
          </div>
          <div class="right-text col-lg-7 col-md-12 col-sm-12 mobile-top-fix">
              <div class="left-heading">
                  <h5>Sobre a plataforma</h5>
              </div>
              <div class="left-text">
                  <p>
                    O Brasil possui cerca de 13 milhões de pessoas que vivem na extrema pobreza e quase 52 milhões na pobreza, segundo dados de 2019, fornecidos pelo IBGE. Contudo, na contramão disso, os índices de desperdício são alarmantes, mostrando que o país descarta, por exemplo, cerca de 26,3 milhões de toneladas de alimentos por ano (FAO, 2013) e 170 mil toneladas de roupas e tecidos (Eco Response, 2021).
                    Ou seja, muitos produtos poderiam estar chegando nas mãos de quem realmente precisa, melhorando a renda e qualidade de vida das famílias brasileiras, e preservando o meio ambiente ao mesmo tempo.
                  </p>
                  <p>
                    Foi pensando nisso que surgiu a Donation Store. Uma plataforma idealizada para que você tenha facilidade e comodidade ao realizar doações, principalmente de objetos, roupas e alimentos. Faça sua doação ou resgate uma agora mesmo!
                  </p>
                  <br>
                  <br>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="hr"></div>
          </div>
      </div>
      <div class="row">
        <div class="right-text col-lg-7 col-md-12 col-sm-12 mobile-top-fix">
            <div class="left-heading">
                <h5 >Fundador, CEO e Engenheiro de Software na Donation Store </h5>
            </div>
            <div class="left-text">
                <p>
                  Engenheiro de Software, formado em Sistema de Informação pela Universidade Federal do Estado do Rio de Janeiro e fascinado por tecnologia.
                </p>
                <br>
                <a href="https://www.instagram.com/igor.m.souza/" class="main-button">Entrar em contato</a>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
          <img  src="https://donationstorestorage.blob.core.windows.net/donation-store-blob/igor.png" class="rounded img-fluid d-block mx-auto myImg" alt="App">
          <p class="text-center">
            Igor Matheus de Souza
          </p>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hr"></div>
        </div>
    </div>
  </div>
</section>
