<section class="section" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
              <img src="https://donationstorestorage.blob.core.windows.net/donation-store-blob/donation-home-img.png" class="rounded img-fluid d-block mx-auto" alt="App">
          </div>
          <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
              <div class="left-heading">
                  <h5>Crie uma conta e doe qualquer coisa que desejar totalmente grátis</h5>
              </div>
              <div class="left-text">
                  <p>A plataforma Donation Store é idealizada para a facilidade e comodidade de doações, principalmente de alimentos, objetos e roupas. O usuário cadastrado no site tem a possibilidade de anunciar um produto para doação, com foto e legenda contendo as principais características pertinentes para reaproveitamento daquele produto, e aguardar a demonstração de interesse de alguém que teve acesso ao anúncio.</p>
                  <a href="signup" class="main-button">Criar conta</a>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="hr"></div>
          </div>
      </div>
  </div>
</section>
